html, body {
    margin: 0;
    height: 100%;
    background-color: #FFF;
}

section {
    color:#FFFFFF;
    height:100%;
    width:100%;
    position:absolute;
    text-align:center;
    font-family: 'Gibson', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

#landing {
    background-color: #56BC8A;
    z-index: 5;
}

#MIT-logo {
    position:absolute;
    top: 39%;
    left: 53%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#MIT-logo rect{
    opacity: 0;
}



.centered-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

#about-me {
    background-color: #A77DC2;
    z-index: 4;
}

#work-experience {
    background-color: #36465D;
    z-index: 3;
}

#personal-projects {
    background-color: #F2992E;
    z-index: 2;
}

#skills {
    background-color: #4F693D;
    z-index: 1;
}