html, body {
    margin: 0;
    height: 100%;
    background-color: #FFF;
}

section {
    color:#FFFFFF;
    height:100%;
    width:100%;
    position:absolute;
    text-align:center;
    font-family: 'Gibson', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

#landing {
    background-color: #56BC8A;
    z-index: 5;
}

#MIT-logo {
    position:absolute;
    top: -50%;
    left: 1%;
}

#MIT-logo rect{
    opacity: 0;
}

.centered-content {
    
    margin: auto;
    position:relative;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#about-me .centered-content {
    width: 46vmin;
    height: 46vmin;
    font-size: 2.25vmin;
}

#about-me {
    background-color: #A77DC2;
    z-index: 4;
}

#work-experience {
    background-color: #36465D;
    z-index: 3;
}

.section-wrapper {
    margin-left:10.95vw;
}

.section-title {
    text-align: left;
    font-size: 3.91vw;
    font-weight: 600;
    margin-bottom: 1.56vw;
}

#work-experience .work-box-table {
    margin: auto;
}

#work-experience .work-box {
    vertical-align: top;
    width: 23.5vw;
    height: 36.36vw;
    border: 0px solid;
    border-radius: 0.78vw;
    display: table-cell;
    opacity: 0;
}

#work-experience .work-box-content {
    text-align: center;
    font-weight: 200;
    font-size: 1.95vw;
    padding-top: 0.78vw;
    font-family: 'Raleway', sans-serif;
}

#personal-projects {
    background-color: #4F693D;
    z-index: 2;
}

#personal-projects .projects-box-table {
    margin: auto;
}

#personal-projects .projects-box {
    vertical-align: top;
    width: 23.46vw;
    height: 36.36vw;
    border: 0px solid;
    border-radius: .78vw;
    display: table-cell;
    opacity: 0;
}

#personal-projects .projects-box-content {
    text-align: center;
    font-weight: 200;
    font-size: 1.95vw;
    padding-top: .78vw;
    font-family: 'Raleway', sans-serif;
    color: #000;
}

#personal-projects-2 {
    background-color: #F2992E;
    z-index: 1;
}

#personal-projects-2 .projects-box-table {
    margin: auto;
}

#personal-projects-2 .projects-box {
    vertical-align: top;
    width: 23.46vw;
    height: 36.36vw;
    border: 0px solid;
    border-radius: .78vw;
    display: table-cell;
    opacity: 0;
}

#personal-projects-2 .projects-box-content {
    text-align: center;
    font-weight: 200;
    font-size: 1.95vw;
    padding-top: .78vw;
    font-family: 'Raleway', sans-serif;
    color: #000;
}

#skills {
    background-color: #5D8AA9;
    z-index: 0;
}

#skills .table {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin: auto;
}

#skills .cell{
    display: table-cell;
    width: 340px;
    font-weight: 200;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.icon {
    height: 40px;
    width: 40px;
    opacity: 1;
    background-size: contain;
    display: inline-block;
}

#linkedin {
    background-image: url('../resources/linkedin.svg');

}

#linkedin:hover {
    background-image: url('../resources/linkedin-hover.svg');
}

#github {
    background-image: url('../resources/github.svg');
}

#github:hover {
    background-image: url('../resources/github-hover.svg');
}

#resume {
    background-image: url('../resources/resume.svg');
}

#resume:hover {
    background-image: url('../resources/resume-hover.svg');
}

#preload-01 { background: url('../resources/linkedin-hover.svg') no-repeat -9999px -9999px; }
#preload-02 { background: url('../resources/github-hover.svg') no-repeat -9999px -9999px; }
#preload-03 { background: url('../resources/resume-hover.svg') no-repeat -9999px -9999px; }
